<!DOCTYPE html>
<html lang="en">

<head>
  <!-- header icluder -->
  <%- include('./elements/header'); -%>
</head>

<body>
    <div class="wrapper">
      <!-- Search Button -->
      <!-- Close Button -->
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
      <!-- Search Box -->
      <div class="search-data">
        <input type="text" required>
        <div class="line"></div>
        <label>Tìm sản phẩm...</label>
        <span class="fas fa-search"></span>
      </div>
    </div>
    <%- include('./elements/mainheader'); -%>
      <main>
        <%- body %>
          <a href="#" class="btn btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>
          <%- include('./elements/mainfooter'); -%>
      </main>
      <!-- Back to Top -->
      <%- include('./elements/coppyright'); -%>
  </div>

  <!-- JavaScript Libraries -->
  <%- include('./elements/footerscript'); -%>
<!-- Search Wrapper -->
</body>

</html>