<%- include('./../../helpers/showerror'); -%>
<%- include('./../../helpers/showsucess'); -%>
<%- include('./../../helpers/showlistclientsay'); -%>
<%- include('./../../helpers/showdataaboutus'); -%>
<%- include('./../../helpers/showlistmission'); -%>
<%- include('./../../helpers/showlistchoose'); -%>
<%- include('./../../helpers/showlistshipping'); -%>
<%- include('./../../helpers/showlistpolicy'); -%>

<% 
    const collection="setting" ; 
    const linkPrefix="/" + systemConfig.prefixAdmin + `/${collection}/`; 
    const linkThumb="/" + "uploads" + `/${collection}/`; 
%>
        <%- showSucess(inform.success) %>
        <div class="card card-info card-outline">
            <form action="<%= linkPrefix %>save/" method="POST" class="mb-0" enctype="multipart/form-data">
                <div class="card-body">
                    <%= main.pageTitle %>
                        <div class="col-12 col-md-10 col-sm-10 mt-2 mx-auto">
                            <%- showError(main.showError) %>
                            <div class="card card-primary card-tabs">
                                <div class="card-header p-0 pt-1">
                                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-home-tab" data-toggle="pill"
                                                href="#custom-tabs-one-home" role="tab"
                                                aria-controls="custom-tabs-one-home" aria-selected="true">Web</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-one-profile" role="tab"
                                                aria-controls="custom-tabs-one-profile"
                                                aria-selected="false">Social</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-two-profile" role="tab"
                                                aria-controls="custom-tabs-two-profile"
                                                aria-selected="false">Email Contact</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-three-profile" role="tab"
                                                aria-controls="custom-tabs-three-profile"
                                                aria-selected="false">Newsletter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-four-profile" role="tab"
                                                aria-controls="custom-tabs-four-profile"
                                                aria-selected="false">What say Client</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-five-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-five-profile" role="tab"
                                                aria-controls="custom-tabs-five-profile"
                                                aria-selected="false">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-six-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-six-profile" role="tab"
                                                aria-controls="custom-tabs-six-profile"
                                                aria-selected="false">Advertisment</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade" id="custom-tabs-one-home" role="tabpanel"
                                            aria-labelledby="custom-tabs-one-home-tab">
                                            <div class="form-group row">
                                                <label for="title" class="col-sm-2 col-form-label text-sm-right required">Title</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" id="title-input-form" name="title" value="<%= item.title %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row uploadImage">
                                                <label for="logoLarge" class="col-sm-2 col-form-label text-sm-right">Upload Large Logo</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input id="ImageMediasLarge" name="logoLarge" type="file" class="custom-file-input" value="LogoLarge">
                                                    <div id="divImageMediaPreviewLogoLarge">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ckeditor">
                                                <label for="logoLarge" class="col-sm-2 col-form-label text-sm-right">Large Logo</label>
                                            <% if (item.logolarge != undefined) { %>
                                                <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.logolarge%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                <%}  %>
                                            </div>
                                            <div class="form-group row uploadImage">
                                                <label for="logoSmall" class="col-sm-2 col-form-label text-sm-right">Upload Small Logo</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input id="ImageMediasSmall" name="logoSmall" type="file" class="custom-file-input" value="LogoSmall">
                                                    <div id="divImageMediaPreviewLogoSmall">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ckeditor">
                                                <label for="logoSmall" class="col-sm-2 col-form-label text-sm-right">Small Logo</label>
                                            <% if (item.logosmall != undefined) { %>
                                                <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.logosmall%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                <%}  %>
                                            </div>
                                            <div class="form-group row uploadImage">
                                                <label for="logoTitle" class="col-sm-2 col-form-label text-sm-right">Upload Logo Title</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input id="ImageMediasTitle" name="logoTitle" type="file" class="custom-file-input" value="LogoTitle">
                                                    <div id="divImageMediaPreviewLogoTitle">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ckeditor">
                                                <label for="logoTitle" class="col-sm-2 col-form-label text-sm-right">Title Logo</label>
                                            <% if (item.logotitle != undefined) { %>
                                                <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.logotitle%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                <%}  %>
                                            </div>
                                            <div class="form-group row uploadImage">
                                                <label for="logoBanner" class="col-sm-2 col-form-label text-sm-right">Upload Breadcrumb Photo</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input id="ImageMediasBanner" name="logoBanner" type="file" class="custom-file-input" value="LogoBanner">
                                                    <div id="divImageMediaPreviewLogoBanner">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ckeditor">
                                                <label for="logoBanner" class="col-sm-2 col-form-label text-sm-right">Breadcrumb Photo</label>
                                            <% if (item.logobanner != undefined) { %>
                                                <img style="width: 30%; padding: 10px" src="<%= linkThumb %><%= item.logobanner%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                <%}  %>
                                            </div>
                                            <div class="form-group row">
                                                <label for="coppyright" class="col-sm-2 col-form-label text-sm-right required">Coppyright</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" id="title-input-form" name="coppyright" value="<%= item.coppyright %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="address" class="col-sm-2 col-form-label text-sm-right required">Adress</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" id="address-input-form" name="address" value="<%= item.address %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phonenumber" class="col-sm-2 col-form-label text-sm-right required">Phone Number</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="phonenumber" id="number-input-form" name="phonenumber" value="<%= item.phonenumber %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-2 col-form-label text-sm-right required">Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="email" id="number-input-form" name="email" value="<%= item.email %>" class="form-control form-control-sm"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                            aria-labelledby="custom-tabs-one-profile-tab">
                                            <div class="form-group row">
                                                <label for="linkgooglemap" class="col-sm-2 col-form-label text-sm-right">Google Map</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkgooglemap" id="linkgooglemap"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkgooglemap %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkfacebook" class="col-sm-2 col-form-label text-sm-right">Facebook</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkfacebook" id="urlFacebook"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkfacebook %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkTwitter" class="col-sm-2 col-form-label text-sm-right">Twitter</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkTwitter" id="urlTwitter"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkTwitter %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkInstagram" class="col-sm-2 col-form-label text-sm-right">Instagram</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkInstagram" id="urlInstagram"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkInstagram %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkYoutube" class="col-sm-2 col-form-label text-sm-right">Youtube</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkYoutube" id="urlYoutube"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkYoutube %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkLinkedIn" class="col-sm-2 col-form-label text-sm-right">LinkedIn</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkLinkedIn" id="urlLinkedIn"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkLinkedIn %>"
                                                    required>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-two-profile-tab">
                                            <div class="form-group row">
                                                <label for="main_email" class="col-sm-2 col-form-label text-sm-right">Main Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input name='main_email' class="main_email" value="<%=item.main_email %>" type="email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="sub_email" class="col-sm-2 col-form-label text-sm-right">Sub Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <textarea class="tagarea">
                                                    </textarea>
                                                </div>
                                                <input name='sub_email' type="hidden" value="<%=item.sub_email %>">
                                            </div>
                                            <div class="form-group row">
                                                <label for="subject_email" class="col-sm-2 col-form-label text-sm-right">Subject Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input name='subject_email' class="main_email" value="<%=item.subject_email %>" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="content_email" class="col-sm-2 col-form-label text-sm-right">Content Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <textarea id="contactEmail" name="content_email" > 
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-three-profile-tab">
                                            <div class="form-group row">
                                                <label for="subject_email_newsletter" class="col-sm-2 col-form-label text-sm-right">Subject Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input name='subject_email_newsletter' class="main_email" value="<%=item.subject_email_newsletter %>" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="content_email_newsletter" class="col-sm-2 col-form-label text-sm-right">Content Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <textarea id="newsLetter" name="content_email_newsletter" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-four-profile-tab">
                                            <div class="form-group row">
                                                <label for="title_say_client" class="col-sm-2 col-form-label text-sm-right">Title</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input name='title_say_client' class="main_email" value="<%=item.title_say_client %>" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-sm-2 col-form-label text-sm-right">Clients List</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="card shadow">
                                                        <div class="card-body">
                                                            <%- showListClientSay(item.list_say_client) %>
                                                            <div class="clearfix mt-4">
                                                              <button type="button" id="say-add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fas fa-plus fa-fw"></i> Add</button>
                                                              <button type="button" id="say-remove-button" class="btn btn-secondary float-left text-uppercase ml-1"><i class="fas fa-minus fa-fw"></i> Remove</button>
                                                            </div>
                                                        </div>
                                                      </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="list_say_client" value="<%=item.list_say_client %>">
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-five-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-five-profile-tab">
                                        <div class="card card-primary card-tabs">
                                            <div class="card-header p-0 pt-1">
                                              <ul class="nav nav-tabs" id="sub-custom-tabs-one-tab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link" id="sub-custom-tabs-one-home-tab" data-toggle="pill" href="#sub-custom-tabs-one-home" role="tab"
                                                    aria-controls="sub-custom-tabs-one-home" aria-selected="false">About Us Page</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" id="sub-custom-tabs-one-profile-tab" data-toggle="pill" href="#sub-custom-tabs-one-profile"
                                                    role="tab" aria-controls="sub-custom-tabs-one-profile" aria-selected="true">Why Choose Us?</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="sub-custom-tabs-two-profile-tab" data-toggle="pill" href="#sub-custom-tabs-two-profile"
                                                      role="tab" aria-controls="sub-custom-tabs-two-profile" aria-selected="true">Policy</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="sub-custom-tabs-three-profile-tab" data-toggle="pill" href="#sub-custom-tabs-three-profile"
                                                      role="tab" aria-controls="sub-custom-tabs-three-profile" aria-selected="true">Shipping</a>
                                                </li>
                                              </ul>
                                            </div>
                                            <div class="card-body">
                                              <div class="tab-content" id="sub-custom-tabs-one-tabContent">
                                                <div class="tab-pane fade" id="sub-custom-tabs-one-home" role="tabpanel" aria-labelledby="sub-ustom-tabs-one-home-tab">
                                                    <div class="form-group row">
                                                        <label for="titleAboutUS" class="col-sm-2 col-form-label text-sm-right">Title</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input name='titleAboutUS' class="main_email" value="<%=item.titleAboutUS %>" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="contentAboutUS" class="col-sm-2 col-form-label text-sm-right">Content</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                                <textarea name="contentAboutUS" class="main_email" id="" cols="30" rows="4"><%=item.contentAboutUS %></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row uploadImage">
                                                        <label for="photoContent" class="col-sm-2 col-form-label text-sm-right">Upload Photo Content</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input id="photoContent" name="photoContent" type="file" class="custom-file-input" value="PhotoContent" style="opacity:1">
                                                            <div id="divImageMediaPreviewPhotoContent">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ckeditor">
                                                        <label for="photoContent" class="col-sm-2 col-form-label text-sm-right">Photo Content Uploaded</label>
                                                    <% if (item.photocontent != undefined) { %>
                                                        <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.photocontent%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                        <%}  %>
                                                    </div>
                                                    <div class="form-group row">
                                                                <label for="dataAboutUS" class="col-sm-2 col-form-label text-sm-right">Data</label>
                                                                <div class="col-xs-12 col-sm-8">
                                                                    <div class="row">
                                                                        <%- showDataAboutUs(item.dataAboutUS,item.dataAboutUSNAME) %>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="" class="col-sm-2 col-form-label text-sm-right">Mission List</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <%- showListMission(item.list_mission) %>
                                                                    <div class="clearfix mt-4">
                                                                      <button type="button" id="mission-add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fas fa-plus fa-fw"></i> Add</button>
                                                                      <button type="button" id="mission-remove-button" class="btn btn-secondary float-left text-uppercase ml-1"><i class="fas fa-minus fa-fw"></i> Remove</button>
                                                                    </div>
                                                                    <input type="hidden" name="list_mission" value="<%=item.list_mission %>">
                                                                </div>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row uploadImage">
                                                        <label for="photoMission" class="col-sm-2 col-form-label text-sm-right">Upload Photo Misson</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input id="photoMission" name="photoMission" type="file" class="custom-file-input" value="PhotoMission" style="opacity:1">
                                                            <div id="divImageMediaPreviewPhotoMission">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ckeditor">
                                                        <label for="photoMission" class="col-sm-2 col-form-label text-sm-right">Photo Mission Uploaded</label>
                                                    <% if (item.photomission != undefined) { %>
                                                        <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.photomission%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                        <%}  %>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="sub-custom-tabs-one-profile" role="tabpanel"
                                                  aria-labelledby="custom-tabs-one-profile-tab">
                                                  <div class="form-group row">
                                                    <label for="titleChoose" class="col-sm-2 col-form-label text-sm-right">Title</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input name='titleChoose' class="main_email" value="<%=item.titleChoose %>" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="descriptionChoose" class="col-sm-2 col-form-label text-sm-right">Description</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <textarea id="descriptionChoose" class="main_email" name="descriptionChoose" ><%=item.descriptionChoose %></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="linkChoose" class="col-sm-2 col-form-label text-sm-right">Link</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input type="url" name="linkChoose" id="linkChoose"
                                                        placeholder="https://example.com"
                                                        pattern="https://.*" size="30" class="form-control form-control-sm main_email"
                                                        value="<%= item.linkChoose %>"
                                                        required>
                                                    </div>
                                                </div>
                                                  <div class="form-group row uploadImage">
                                                    <label for="photoChoose" class="col-sm-2 col-form-label text-sm-right">Upload Photo (570x590px)</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <input id="photoChoose" name="photoChoose" type="file" class="custom-file-input" value="PhotoChoose" style="opacity:1">
                                                        <div id="divImageMediaPreviewPhotoChoose">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row ckeditor">
                                                    <label for="photoChoose" class="col-sm-2 col-form-label text-sm-right">Photo Uploaded</label>
                                                <% if (item.photochoose != undefined) { %>
                                                    <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.photochoose%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                                    <%}  %>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="item" class="col-sm-2 col-form-label text-sm-right">Item List</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="card shadow">
                                                            <div class="card-body">
                                                                <%- showListChoose(item.list_choose) %>
                                                                <div class="clearfix mt-4">
                                                                  <button type="button" id="choose-add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fas fa-plus fa-fw"></i> Add</button>
                                                                  <button type="button" id="choose-remove-button" class="btn btn-secondary float-left text-uppercase ml-1"><i class="fas fa-minus fa-fw"></i> Remove</button>
                                                                </div>
                                                                <input type="hidden" name="list_choose" value="<%=item.list_choose %>">
                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="tab-pane fade" id="sub-custom-tabs-two-profile" role="tabpanel"
                                                aria-labelledby="custom-tabs-two-profile-tab">
                                                <div class="form-group row">
                                                    <label for="policy" class="col-sm-2 col-form-label text-sm-right">Policy List</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <div class="card shadow">
                                                            <div class="card-body">
                                                                <%- showListPolicy(item.list_policy) %>
                                                                <div class="clearfix mt-4">
                                                                  <button type="button" id="policy-add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fas fa-plus fa-fw"></i> Add</button>
                                                                  <button type="button" id="policy-remove-button" class="btn btn-secondary float-left text-uppercase ml-1"><i class="fas fa-minus fa-fw"></i> Remove</button>
                                                                </div>
                                                                <input type="hidden" name="list_policy" value="<%=item.list_policy %>">
                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="tab-pane fade" id="sub-custom-tabs-three-profile" role="tabpanel"
                                                aria-labelledby="custom-tabs-three-profile-tab">
                                                <div class="form-group row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="card shadow">
                                                            <div class="card-body">
                                                                <%- showListShipping(item.list_shipping) %>
                                                                <div class="clearfix mt-4">
                                                                  <button type="button" id="shipping-add-button" class="btn btn-secondary float-left text-uppercase shadow-sm"><i class="fas fa-plus fa-fw"></i> Add</button>
                                                                  <button type="button" id="shipping-remove-button" class="btn btn-secondary float-left text-uppercase ml-1"><i class="fas fa-minus fa-fw"></i> Remove</button>
                                                                </div>
                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="list_shipping" value="<%=item.list_shipping %>">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-six-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-six-profile-tab">
                                        <div class="form-group row uploadImage">
                                            <label for="photoAdsone" class="col-sm-2 col-form-label text-sm-right">Upload Photo Ads1</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="photoAdsone" name="photoAdsone" type="file" class="custom-file-input" value="PhotoAdsone" style="opacity:1">
                                                <div id="divImageMediaPreviewPhotoAdsone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ckeditor">
                                            <label for="photoAdsone" class="col-sm-2 col-form-label text-sm-right">Photo Uploaded Ads1</label>
                                        <% if (item.photoadsone != undefined) { %>
                                            <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.photoadsone%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                            <%}  %>
                                        </div>
                                        <div class="form-group row">
                                            <label for="linkAdsone" class="col-sm-2 col-form-label text-sm-right">Link Ads1</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input type="url" name="linkAdsone" id="linkAdsone"
                                                placeholder="https://example.com"
                                                pattern="https://.*" size="30" class="form-control form-control-sm main_email"
                                                value="<%= item.linkAdsone %>"
                                                required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row uploadImage">
                                            <label for="photoAdstwo" class="col-sm-2 col-form-label text-sm-right">Upload Photo Ads2</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input id="photoAdstwo" name="photoAdstwo" type="file" class="custom-file-input" value="PhotoAdstwo" style="opacity:1">
                                                <div id="divImageMediaPreviewPhotoAdstwo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ckeditor">
                                            <label for="photoAdstwo" class="col-sm-2 col-form-label text-sm-right">Photo Uploaded Ads2</label>
                                        <% if (item.photoadstwo != undefined) { %>
                                            <img style="width: 15%; padding: 10px" src="<%= linkThumb %><%= item.photoadstwo%>" alt="thumb" onerror="this.onerror=null;this.src='<%= linkThumb %>/no-image-found.jpg'">
                                            <%}  %>
                                        </div>
                                        <div class="form-group row">
                                            <label for="linkAdstwo" class="col-sm-2 col-form-label text-sm-right">Link Ads2</label>
                                            <div class="col-xs-12 col-sm-8">
                                                <input type="url" name="linkAdstwo" id="linkAdstwo"
                                                placeholder="https://example.com"
                                                pattern="https://.*" size="30" class="form-control form-control-sm main_email"
                                                value="<%= item.linkAdstwo %>"
                                                required>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="card-footer">
                    <input name="image_old_large" value="<%= item.logolarge%>" type="hidden">
				    <input name="image_uploaded_large" value="" type="hidden" id="image_uploaded_large">
                    <input name="image_old_small" value="<%= item.logosmall%>" type="hidden">
				    <input name="image_uploaded_small" value="" type="hidden" id="image_uploaded_small">
                    <input name="image_old_title" value="<%= item.logotitle%>" type="hidden">
				    <input name="image_uploaded_title" value="" type="hidden" id="image_uploaded_title">
                    <input name="image_old_banner" value="<%= item.logobanner%>" type="hidden">
				    <input name="image_uploaded_banner" value="" type="hidden" id="image_uploaded_banner">
                    <div class="col-12 col-sm-12 text-center">
                        <button type="submit" class="btn btn-sm btn-success mr-1">
                            Submit</button>
                        <a href="<%= linkPrefix %>/" class="btn btn-sm btn-danger mr-1">
                            Cancel</a>
                    </div>
                </div>
            </form>
            <div id="prizePopup"></div>
        </div>

        <script src="/plugins/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <!-- Summernote -->
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script type="text/javascript">
            $('#contactEmail').summernote({
                height: "200px",
            });
            $('#newsLetter').summernote({
                height: "200px",
            });
            var contentContactEmail = `<%- item.content_email %>`;
             $('#contactEmail').summernote('code', contentContactEmail);
             var contentNewsLetter = `<%- item.content_email_newsletter %>`;
             $('#newsLetter').summernote('code', contentNewsLetter);
            ImageMediasLarge.onchange = evt => {
                const [file] = ImageMediasLarge.files
                if (file) {
                    image_uploaded_large.setAttribute('value', 'uploaded')
                } else {
                    image_uploaded_large.setAttribute('value', '')
                }
            }

            ImageMediasSmall.onchange = evt => {
                const [file] = ImageMediasSmall.files
                if (file) {
                    image_uploaded_small.setAttribute('value', 'uploaded')
                } else {
                    image_uploaded_small.setAttribute('value', '')
                }
            }

            ImageMediasTitle.onchange = evt => {
                const [file] = ImageMediasTitle.files
                if (file) {
                    image_uploaded_title.setAttribute('value', 'uploaded')
                } else {
                    image_uploaded_title.setAttribute('value', '')
                }
            }

            ImageMediasBanner.onchange = evt => {
                const [file] = ImageMediasBanner.files
                if (file) {
                    image_uploaded_banner.setAttribute('value', 'uploaded')
                } else {
                    image_uploaded_banner.setAttribute('value', '')
                }
            }
        </script>