<%- include('./../../helpers/formatphonenumber'); -%>

<%
	const linkThumbSetting = "/" + "uploads" + `/setting/`;

%>
<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(<%= linkThumbSetting + settingPage.logobanner%>);">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
                <ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;">
                    <li class="mr-2"><a href="/index">Trang Chủ</a></li>
                    <li class="mr-2">/</li>
                    <li class="active"><%= pageTitle %></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="contactSec container pt-xl-10 pb-xl-10 py-lg-10 pt-md-8 pb-md-5 pt-5 pb-0">
    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled contactListHolder mb-0 d-flex flex-wrap text-center">
                <li class="mb-lg-0 mb-6">
                    <span class="icon d-block mx-auto bg-lightGray py-4 mb-4"><i
                            class="fas fa-map-marker-alt"></i></span>
                    <strong class="title text-uppercase playfair mb-5 d-block">Địa Chỉ</strong>
                    <address class="mb-0"><%= settingPage.address%></address>
                </li>
                <li class="mb-lg-0 mb-6">
                    <span class="icon d-block mx-auto bg-lightGray py-4 mb-3"><i class="fas fa-headphones"></i></span>
                    <strong class="title text-uppercase playfair mb-5 d-block">Số điện thoại</strong>
                    <a href="tel:<%= settingPage.phonenumber%>" class="d-block"><%= formatPhoneNumber(settingPage.phonenumber)%></a>
                </li>
                <li class="mb-lg-0 mb-6">
                    <span class="icon d-block mx-auto bg-lightGray py-5 mb-3"><i class="fas fa-envelope"></i></span>
                    <strong class="title text-uppercase playfair mb-5 d-block">Email</strong>
                    <email class="mb-0"><%= settingPage.email%></email>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- mapHolder -->
<div class="mapHolder mb-4 ml-lg-20 mr-lg-20">
    <iframe
        src="<%= settingPage.linkgooglemap %>"
        style="border:0;" allowfullscreen="">
    </iframe>
</div>
<section class="contactSecBlock container pt-xl-4 pb-xl-4 pt-lg-4 pb-lg-4 pt-md-4 pb-md-4 py-5 bgCover" style="background-image: url(https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=2000);">
    <div class="row">
        <header class="col-12 mainHeader mb-2 text-center">
            <h1 class="headingIV playfair fwEblod mb-2">Liên Lạc Với Chúng Tôi</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" id='sendMail' class="contactForm">
                <div class="d-flex flex-wrap row1 mb-md-1">
                    <div class="form-group coll mb-5">
                        <input type="text" id="name" class="form-control text-dark font-weight-bold" name="name" placeholder="Tên của bạn  *">
                    </div>
                    <div class="form-group coll mb-5">
                        <input type="email" class="form-control text-dark font-weight-bold" id="email" name="email" placeholder="Email của bạn  *">
                    </div>
                    <div class="form-group coll mb-5">
                        <input type="tel" pattern="[0-9]{10}"
                        required class="form-control text-dark font-weight-bold" id="phonenumber" name="phonenumber" placeholder="Số điện thoại của bạn  *">
                    </div>
                    <div class="form-group col-12 mb-5">
                        <input type="subject" class="form-control text-dark font-weight-bold" id="subject" name="subject" placeholder="Tiêu đề  *">
                    </div>
                </div>
                <div class="form-group w-100 mb-6">
                    <textarea class="form-control text-dark font-weight-bold" name='message' placeholder="Tin nhắn  *"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btnTheme btnShop md-round fwEbold text-white py-3 px-4 py-md-3 px-md-4">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</section>