<%- include('./../../helpers/showproductslider'); -%>
<%- include('./../../helpers/showsaleicon'); -%>
<%- include('./../../helpers/showsaletext'); -%>
<%- include('./../../helpers/formatprice'); -%>

<% 
	let showCouponList = (dataCoupon) =>{
		let html = `<ul class="list-unstyled productInfoDetail mb-0">
			<li class="mb-2">Mã giảm giá:</li>
		`
		if(!dataCoupon || dataCoupon == null) return
		let count = 1
		dataCoupon.forEach(item =>{
			if(checkTimeInRange(item.time)){
				html+= `
					<li class="mb-2 ml-2 ">
					<span class="d-block mt-1 font-weight-bold">${count}/ ${item.name}:</span>
					<span class="d-block mt-1 font-italic"> ${item.description}</span>
					<span class="d-block mt-1">Nhập mã: ${item.couponcode}</span>
					</li>
				`
				count++
			}
		})
		html += '</ul>'
		return html
	}
	const collection = "product";
	const linkThumb = "/" + "uploads" + `/${collection}/`;
  const unit = ' VND'

	let dataSale = showSaleIcon(product.discountProduct, product.price)
	let sale     = (dataSale) ? showSaleText(dataSale,unit) : ''
	let position = (dataSale || product.fearturedproduct == true) ? "position-relative " : ""
	let hotShow  = ''
	if(product.fearturedproduct == true){
		hotShow = '<span class="hotOffer fwEbold text-uppercase text-white d-block">HOT</span>'
	}
%>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(/frontend/images/breadcum.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;">
								<li class="mr-2"><a href="/">Trang Chủ</a></li>
								<li class="mr-2">/</li>
								<li class="mr-2"><a href="/<%=categoryObj.slug%>"><%=categoryObj.name%></a></li>
								<li class="mr-2">/</li>
								<li class="active"><%= product.name%></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-xl-5 pb-xl-5 pt-lg-5 pb-lg-5 py-md-8 py-5">
				<div class="row mb-6">
					<div class="col-12 col-lg-6 order-lg-1">
						<!-- productSliderImage -->
						<div class="productSliderImage mb-lg-0 mb-4">
              <%- showProductSlider(product.thumb, linkThumb, true) %>
						</div>
              <div class="col-12">
                <!-- paggSlider -->
                <div class="paggSlider">
                  <%- showProductSlider(product.thumb, linkThumb, false) %>
                </div>
            </div>
					</div>
					<div class="col-12 col-lg-6 order-lg-3 flashSale">
						<!-- productTextHolder -->
						<div class="productTextHolder overflow-hidden">
							<%- hotShow %>
							<h2 class="fwEbold mb-2"> <%= product.name %></h2>
							<strong class="price d-block mb-5 text-green"><%- formatPrice(product.price, unit, dataSale)  %> <%- sale %></strong>
							<p class="mb-5"><%= product.description %></p>
							<ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
								<li class="mb-2">Số Lượng: <span><%= product.quantity %></span></li>
							</ul>
							<div data-product="product-<%= product.id %>" class="holder overflow-hidden d-flex flex-wrap mb-6 includeButtonCart">
							
							</div>
							<ul class="list-unstyled productInfoDetail mb-0">
								<li class="mb-2">Danh Mục: <a href="/<%=categoryObj.slug%>"><span><%=categoryObj.name%></span></a></li>
							</ul>
							<%- showCouponList(couponData) %>
						</div>
					<img src="/frontend/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr" style="margin: 0 10%">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- tabSetList -->
						<ul class="list-unstyled tabSetList d-flex justify-content-center mb-9">
							<li >
								<a href="#tab1-0" class="active playfair fwEbold pb-2">Mô Tả Chi Tiết</a>
							</li>
						</ul>
						<!-- tab-content -->
						<div class="tab-content mb-xl-11 mb-lg-10 mb-md-8 mb-5">
							<div id="tab1-0" class="active">
                <%- product.content %>
							</div>
						</div>
					</div>
				</div>
			</div>
  <%- include('./../../elements/relatedproduct'); -%>
  <%- include('./../../elements/subscribe'); -%>

