<%- include('./../../helpers/showproductslider'); -%>
  
<% 
	const collection = "product";
	const linkThumb = "/" + "uploads" + `/${collection}/`;
  const unit = ' VND'
%>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(/frontend/images/breadcum.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;">
								<li class="mr-2"><a href="">Trang Chủ</a></li>
								<li class="mr-2">/</li>
								<li class="mr-2"><a href="/danh-muc/<%=categoryObj.slug%>"><%=categoryObj.name%></a></li>
								<li class="mr-2">/</li>
								<li class="active"><%= product.name%></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-xl-5 pb-xl-5 pt-lg-5 pb-lg-5 py-md-8 py-5">
				<div class="row mb-6">
					<div class="col-12 col-lg-6 order-lg-1">
						<!-- productSliderImage -->
						<div class="productSliderImage mb-lg-0 mb-4">
              <%- showProductSlider(product.thumb, linkThumb, true) %>
						</div>
              <div class="col-12">
                <!-- paggSlider -->
                <div class="paggSlider">
                  <%- showProductSlider(product.thumb, linkThumb, false) %>
                </div>
            </div>
					</div>
					<div class="col-12 col-lg-6 order-lg-3">
						<!-- productTextHolder -->
						<div class="productTextHolder overflow-hidden">
							<h2 class="fwEbold mb-2"><%= product.name%></h2>
							<strong class="price d-block mb-5 text-green"><%= product.price.toLocaleString() + unit %></strong>
							<p class="mb-5"><%= product.description %></p>
							<ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
								<li class="mb-2">Số Lượng: <span><%= product.quantity %></span></li>
								<li class="mb-2">Phí Vận Chuyển: <span>Free</span></li>
							</ul>
							<div class="holder overflow-hidden d-flex flex-wrap mb-6">
								<input type="number" placeholder="1">
								<a href="javascript:void(0);" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4 py-md-3 px-md-4">Add To Cart <i class="fas fa-arrow-right ml-2"></i></a>
							</div>
							<ul class="list-unstyled productInfoDetail mb-0">
								<li class="mb-2">Danh Mục: <a href="/danh-muc/<%=categoryObj.slug%>"><span><%=categoryObj.name%></span></a></li>
							</ul>
              <ul class="list-unstyled productInfoDetail mb-0">
								<li class="mb-2">Mã giảm giá:</li>
                <li class="mb-2 ml-4"><span>Mã giảm giá:1</span></li>
								<li class="mb-2 ml-4"><span>Mã giảm giá:2</span></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- tabSetList -->
						<ul class="list-unstyled tabSetList d-flex justify-content-center mb-9">
							<li class="mr-md-20 mr-sm-10 mr-2">
								<a href="#tab1-0" class="active playfair fwEbold pb-2">Mô Tả Chi Tiết</a>
							</li>
						</ul>
						<!-- tab-content -->
						<div class="tab-content mb-xl-11 mb-lg-10 mb-md-8 mb-5">
							<div id="tab1-0" class="active">
                <%- product.content %>
							</div>
						</div>
					</div>
				</div>
			</div>
  <%- include('./../../elements/relatedproduct'); -%>
  <%- include('./../../elements/subscribe'); -%>

