<%- include('./../../helpers/formatphonenumber'); -%>

<%
  let showErrorRegister = (error) =>{
    if(!error) return
    let html =''
    error.forEach(item=>{
      let userError = (item.param == 'loginuser') 
      ? `<a href="/dang-ky"
      class="font-weight-bold text-success"><u>Đăng ký ở đây</u></a> 
      `
      : ''
      let passError = (item.param == 'loginpass') 
      ? `<a href="/lay-lai-mat-khau"
      class="font-weight-bold text-success"><u>Lấy lại mật khẩu tại đây</u></a> 
      `
      : ''
      if(item.param == 'success'){
        html+= `
          <div class="alert alert-success" role="alert">
            ${item.msg}
          </div>
        `
        return
      }
      html+= `
      <div class="alert alert-danger" role="alert">
        ${item.msg} ${userError}${passError}
      </div>
      `
    })
    return html
  }
	const linkThumbSetting = "/" + "uploads" + `/setting/`;
%>
<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(<%= linkThumbSetting + settingPage.logobanner%>);">
  <div class="container">
      <div class="row">
          <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
              <ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;">
                  <li class="mr-2"><a href="/">Trang Chủ</a></li>
                  <li class="mr-2">/</li>
                  <li class="active"><%= pageTitle %></li>
              </ul>
          </div>
      </div>
  </div>
</section>

<div class="registerSec container pt-xl-10 pb-xl-10 py-lg-10 pt-md-8 pb-md-5 pt-5 pb-0">
  <div class="row">
      <div class="col-12">
        <section class="bgCover"
        style="background-image: url('/frontend/images/bg-newsletter.png');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100 mt-5 mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"><%= pageTitle %></h2>
                    <%- showErrorRegister(error) %>
                    <form class="formAuth" id="formLogin" action="/dang-nhap" method="post">
                      <div class="form-outline mb-4">
                        <input type="email" id="form3Example3cg" name="email" class="form-control form-control-lg" value='<%= userLogin.email %>' required/>
                        <label class="form-label" for="form3Example3cg">Email của bạn</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cg" name="password" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Example4cg">Mật khẩu</label>
                      </div>
                      <div class="d-flex justify-content-center spinner">
                        <button type="submit"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 ">Đăng Nhập</button>
                      </div>
                      <p class="text-center text-muted mt-5 mb-0">Bạn chưa có tài khoản? <a href="/dang-ky"
                          class="font-weight-bold text-success"><u>Vui lòng đăng ký tại đây</u></a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
  </div>
</div>