<%- include('./../../helpers/formatphonenumber'); -%>
<%
    let showDataAboutUs = (data, nameArr) =>{
        if (!data) return
        if (!nameArr) return
        let html =''
        data.forEach((item, index)=>{
            html += `
            <li class="mb-md-0 mb-3">
                <strong class="d-block fwEbold counter mb-2">${item}</strong>
                <strong class="d-block text-uppercase txtWrap">${nameArr[index]}</strong>
            </li>
            `
        })
        return html
    }

    let showListMission = (data) =>{
        if (!data) return
        let html =''
        let dataParse = JSON.parse(data)
        dataParse.forEach((item, index)=>{
            let show = (index== 0) ? 'show' : ''
            html += `
            <div class="card mb-2">
                <div class="card-header px-xl-5 py-xl-3" id="headingMission${index}">
                    <h5 class="mb-0">
                        <button class="btn btn-link fwEbold text-uppercase text-left w-100 p-0" data-toggle="collapse" data-target="#collapseMission${index}" aria-expanded="true" aria-controls="collapseMission${index}">
                        ${item.name}<i class="fas fa-sort-down float-right"></i>
                        </button>
                    </h5>
                </div>
                <div id="collapseMission${index}" class="collapse ${show}" aria-labelledby="headingMission${index}" data-parent="#accordion">
                    <div class="card-body px-xl-5 py-0">
                        <p class="mb-7">${item.content}</p>
                    </div>
                </div>
            </div>
            `
        })
        return html
    }
	const linkThumbSetting = "/" + "uploads" + `/setting/`;
%>
<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(<%= linkThumbSetting + settingPage.logobanner%>);">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
                <ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;">
                    <li class="mr-2"><a href="/index">Trang Chủ</a></li>
                    <li class="mr-2">/</li>
                    <li class="active"><%= pageTitle %></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="abtSecHolder container pt-xl-12 pb-xl-6 pt-lg-10 pb-lg-5 pt-md-8 pb-md-4 pt-5 pb-2">
    <div class="row">
        <div class="col-12 col-lg-6 pt-xl-12 pt-lg-8">
            <h2 class="playfair fwEbold position-relative mb-7 pb-5">
                <strong class="d-block"><%=settingPage.titleAboutUS %></strong>
            </h2>
            <p class="pr-xl-16 pr-lg-10 mb-lg-0 mb-6"><%=settingPage.contentAboutUS %></p>
        </div>
        <div class="col-12 col-lg-6">
                <img src="/uploads/setting/<%= settingPage.photocontent%>" alt="image description" class="img-fluid" onerror="this.onerror=null;this.src='/uploads/setting/no-image-found.jpg'">
        </div>
    </div>
</section>
<section class="counterSec container pt-xl-12 pb-xl-12 pt-lg-10 pb-lg-10 pt-md-8 pb-md-8 pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <!-- progressCounter -->
            <ul class="progressCounter list-unstyled mb-2 d-flex flex-wrap text-capitalize text-center">
                <%- showDataAboutUs(settingPage.dataAboutUS,settingPage.dataAboutUSNAME)%>
            </ul>
        </div>
    </div>
</section>
<section class="introSec bg-lightGray pt-xl-12 pb-xl-7 pt-10 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-lg-0 mb-6">
                <img src="/uploads/setting/<%= settingPage.photomission%>" alt="image description" class="img-fluid" onerror="this.onerror=null;this.src='/uploads/setting/no-image-found.jpg'">
            </div>
            <div class="col-12 col-lg-6">
                <div id="accordion" class="accordionList pt-lg-12">
                    <%-  showListMission(settingPage.list_mission)%>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./../../elements/shipping'); -%>
<%- include('./../../elements/subscribe'); -%>
